<a href="https://colab.research.google.com/github/Ariara61/ESAA/blob/main/do_it_pandas_241~_242%2C_256~263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12-1 datetime 오브젝트
 * datetime: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리

In [1]:
# datatime 라이브러리 불러오기
from datetime import datetime

In [2]:
# 현재 시간 출력
now1 = datetime.now()
print(now1)

2023-04-06 02:45:07.625028

In [3]:
now2 = datetime.today()
print(now2)

2023-04-06 02:45:07.639031

In [4]:
# datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자를 전달
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2023-04-06 02:45:07.650462
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
# 두 datetime 오브젝트의 차이
diff = t1 - t2

print(diff)
print(type(diff))

19453 days, 2:45:07.650462
<class 'datetime.timedelta'>

In [6]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-19454 days, 21:14:52.349538
<class 'datetime.timedelta'>

테슬라 주식 데이터로 시간 계산하기

In [7]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [10]:
# 테슬라 주식 데이터 내려받고 저장하기
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pd.read_csv('tesla_stock_quandl.csv')

In [11]:
print(tesla.head())

         Date    Open    High     Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
0         1.0   304.00   304.27  277.18    279.18  13696168.0
1         1.0   307.34   307.59  291.36    304.18   8324639.0
2         1.0   311.25   311.61  300.45    301.54   6600538.0
3         1.0   313.89   318.82  308.18    309.10   4914307.0
4         1.0   310.25   322.44  310.19    316.53   5927881.0

In [12]:
tesla = pd.read_csv("tesla_stock_quandl.csv", parse_dates = [0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   float64
 6   ExDividend  1949 non-null   float64
 7   SplitRatio  1949 non-null   float64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.1 KB
None

In [13]:
# 2010년6월의 데이터만 추출하기
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close      Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100.0         0.0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300.0         0.0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
1947         1.0    25.79  30.4192   23.30     23.83  17187100.0
1948         1.0    19.00  25.0000   17.54     23.89  18766300.0

datetime 오브젝트와 인덱스 - DatetimeIndex
* datetime오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있어 편리함.

In [14]:
# Date열을 tesla 데이터프레임의 인덱스로 지정하기
tesla.index = tesla["Date"]
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

In [15]:
# 2015년의 데이터 추출하기
print(tesla["2015"].iloc[:5, :5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-15-9891ea520c54>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla["2015"].iloc[:5, :5])

In [16]:
# 2010년 6월의 데이터 추출하기
print(tesla["2016-06"].iloc[:, :5])

                 Date    Open      High       Low   Close
Date
2016-06-30 2016-06-30  212.97  213.4999  209.0200  212.28
2016-06-29 2016-06-29  205.13  211.7800  203.0000  210.19
2016-06-28 2016-06-28  201.89  204.0500  199.4100  201.79
2016-06-27 2016-06-27  190.86  198.8100  187.8700  198.55
2016-06-24 2016-06-24  190.05  195.1200  189.7300  193.15
2016-06-23 2016-06-23  195.69  197.5500  192.1300  196.40
2016-06-22 2016-06-22  199.47  205.9500  195.7500  196.66
2016-06-21 2016-06-21  220.68  222.5690  218.8100  219.61
2016-06-20 2016-06-20  219.50  223.7500  218.2300  219.70
2016-06-17 2016-06-17  217.81  219.9900  214.5000  215.47
2016-06-16 2016-06-16  217.42  218.0400  213.5000  217.93
2016-06-15 2016-06-15  216.95  221.9000  215.1300  217.70
2016-06-14 2016-06-14  218.88  222.2000  212.5300  214.96
2016-06-13 2016-06-13  219.50  225.7700  217.6600  217.87
2016-06-10 2016-06-10  227.39  227.9700  218.4217  218.79
2016-06-09 2016-06-09  234.98  235.3300  227.0600  229.36
2016-06-08 2016-06-08  233.80  240.8450  232.6050  235.52
2016-06-07 2016-06-07  222.24  234.4400  221.5200  232.34
2016-06-06 2016-06-06  218.00  220.9000  215.4500  220.68
2016-06-03 2016-06-03  220.00  221.9400  218.0100  218.99
2016-06-02 2016-06-02  219.59  219.9090  217.1100  218.96
2016-06-01 2016-06-01  221.48  222.4000  216.8900  219.56

<ipython-input-16-718ad8652baf>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla["2016-06"].iloc[:, :5])

시간 간격과 인덱스 - TimedeltaIndex
 * 시간 간격을 인덱스로 지정해 데이터 추출하기

In [17]:
# Date 열에서 Date 열의 최솟값을 뺀 다음 ref_date 열로 추가하기
tesla["ref_date"] = tesla["Date"] - tesla["Date"].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

In [18]:
# 시간 간격(ref_date)을 이용하여 데이터 추출하기
tesla.index = tesla["ref_date"]
print(tesla.iloc[:5, :5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

In [19]:
# 데이터를 수집한 이후 최초 5일의 데이터 추출
print(tesla["5 days":].iloc[:5, :5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

시간 범위와 인덱스
* 시간 범위 생성해 인덱스로 지정하기

In [22]:
# 에볼라 데이터 가장 앞쪽의 데이터 살펴보기
ebola = pd.read_csv("country_timeseries.csv")
print(ebola.iloc[:5, :5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

In [23]:
# 뒤쪽 데이터 살펴보기
print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

In [24]:
# date_range 메서드를 사용하여 시간 인덱스 생성하기
head_range = pd.date_range(start = "2014-12-31", end = "2015-01-05")
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [25]:
# 데이터 앞쪽 5개의 데이터를 추출하여 새로운 데이터프레임 만들기
# Date열을 인덱스로 먼저 지정하지 않으면 오류 발생
ebola_5 = ebola.head()
ebola_5.index = ebola_5["Date"]
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                  Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
1/5/2015      1/5/2015  289        2776.0            NaN            10030.0
1/4/2015      1/4/2015  288        2775.0            NaN             9780.0
1/3/2015      1/3/2015  287        2769.0         8166.0             9722.0
1/2/2015      1/2/2015  286           NaN         8157.0                NaN
12/31/2014  12/31/2014  284        2730.0         8115.0             9633.0

* freq 속성값으로 사용할 수 있는 시간 주기 
 * B - 평일만 포함
 * C - 사용자가 정의한 평일만 포함
 * D - 달력 일자 단위
 * W - 주간 단위
 * M - 월 마지막 날만 포함
 * SM - 15일과 월 마지막 날만 포함
 * BM - M 주기의 값이 휴일이면 제외하고 평일만 포함
 * CBM - BM에 사용자 정의 평일을 적용
 * MS - 월 시작일만 포함
 * SMS - 월 시작일과 15일만 포함
 * BMS - MS 주기의 값이 휴일이면 제외하고 평일만 포함
 * CBMS - BMS에 사용자 정의 평일을 적용
 * Q - 3, 6, 9, 12월 분기 마지막 날만 포함
 * BQ - 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
 * QS - 3, 6, 9, 12월 분기 시작일만 포함
 * BQS - 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
 * A - 년의 마지막 날만 포함
 * BA - 년의 마지막 날이 휴일이면 제외하고 평일만 포함
 * AS - 년의 시작일만 포함
 * BAS - 년의 시작일이 휴일이면 제외하고 평일만 포함
 * BH - 평일을 시간 단위로 포함(09:00 ~ 16:00)
 * H - 시간 단위로 포함(00:00 ~ 00:00)