<a href="https://colab.research.google.com/github/Ariara61/ESAA/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%99%84%EB%B2%BD%EA%B0%80%EC%9D%B4%EB%93%9C_579~590.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 05. 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트
* TMDB 5000 영화 데이터 세트: 유명한 영화 데이터 정보 사이트인 IMDB의 많은 영화 중 주요 5000개 영화에 대한 메타 정보를 새롭게 가공해 캐글에서 제공하는 데이터 세트

### 장르 속성을 이용한 영화 콘텐츠 기반 필터링
* 콘텐츠 기반 필터링: 사용자가 특정 영화를 감상하고 그 영화를 좋아했다면 그 영화와 비슷한 특성/속성, 구성 요소 등을 가진 다른 영화를 추천하는 것.
* 영화(또는 상품/서비스) 간의 유사성을 판단하는 기준이 영화를 구성하는 다양한 콘텐츠를 기반으로 하는 방식이 바로 콘텐츠 기반 필터링.
* 콘텐츠 기반 필터링 추천 시스템을 영화를 선택하는 데 중요한 요소인 영화 장르 속성을 기반으로 만들 예정.

### 데이터 로딩 및 가공
* 장르 속성을 이용해 콘텐츠 기반 필터링 수행.

In [20]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings("ignore")

movies = pd.read_csv("tmdb_5000_movies.csv")
print(movies.shape)
movies.head

(4803, 20)

<bound method NDFrame.head of          budget  \
0     237000000
1     300000000
2     245000000
3     250000000
4     260000000
...         ...
4798     220000
4799       9000
4800          0
4801          0
4802          0

                                                                                                   genres  \
0     [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {...
1          [{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]
2            [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 80, "name": "Crime"}]
3     [{"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}, {"id": 18, "name": "Drama"}, {"id": ...
4     [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 878, "name": "Science Fic...
...                                                                                                   ...
4798          [{"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}, {"id": 53, "name": "Thriller"}]
4799                                     [{"id": 35, "name": "Comedy"}, {"id": 10749, "name": "Romance"}]
4800  [{"id": 35, "name": "Comedy"}, {"id": 18, "name": "Drama"}, {"id": 10749, "name": "Romance"}, {"...
4801                                                                                                   []
4802                                                                  [{"id": 99, "name": "Documentary"}]

                                                  homepage      id  \
0                              http://www.avatarmovie.com/   19995
1             http://disney.go.com/disneypictures/pirates/     285
2              http://www.sonypictures.com/movies/spectre/  206647
3                       http://www.thedarkknightrises.com/   49026
4                     http://movies.disney.com/john-carter   49529
...                                                    ...     ...
4798                                                   NaN    9367
4799                                                   NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddelivered  231617
4801                           http://shanghaicalling.com/  126186
4802                                                   NaN   25975

                                                                                                 keywords  \
0     [{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "sp...
1     [{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic is...
2     [{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4289, "name": "secret...
3     [{"id": 849, "name": "dc comics"}, {"id": 853, "name": "crime fighter"}, {"id": 949, "name": "te...
4     [{"id": 818, "name": "based on novel"}, {"id": 839, "name": "mars"}, {"id": 1456, "name": "medal...
...                                                                                                   ...
4798  [{"id": 5616, "name": "united states\u2013mexico barrier"}, {"id": 33649, "name": "legs"}, {"id"...
4799                                                                                                   []
4800  [{"id": 248, "name": "date"}, {"id": 699, "name": "love at first sight"}, {"id": 2398, "name": "...
4801                                                                                                   []
4802  [{"id": 1523, "name": "obsession"}, {"id": 2249, "name": "camcorder"}, {"id": 9986, "name": "cru...

     original_language                            original_title  \
0                   en                                    Avatar
1                   en  Pirates of the Caribbean: At World's End
2                   en                                   Spectre
3                   en                     The Dark Knight Rises
4                   en                               John Carter
...                ...                                       ...
4798                es                               El Mariachi
4799                en                                 Newlyweds
4800                en                 Signed, Sealed, Delivered
4801                en                          Shanghai Calling
4802                en                         My Date with Drew

                                                                                                 overview  \
0     In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, ...
1     Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of t...
2     A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. Whil...
3     Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's c...
4     John Carter is a war-weary, former military captain who's inexplicably transported to the myster...
...                                                                                                   ...
4798  El Mariachi just wants to play his guitar and carry on the family tradition. Unfortunately, the ...
4799                A newlywed couple's honeymoon is upended by the arrivals of their respective sisters.
4800  "Signed, Sealed, Delivered" introduces a dedicated quartet of civil servants in the Dead Letter ...
4801  When ambitious New York attorney Sam is sent to Shanghai on assignment, he immediately stumbles ...
4802  Ever since the second grade when he first saw her in E.T. The Extraterrestrial, Brian Herzlinger...

      popularity  \
0     150.437577
1     139.082615
2     107.376788
3     112.312950
4      43.926995
...          ...
4798   14.269792
4799    0.642552
4800    1.444476
4801    0.857008
4802    1.929883

                                                                                     production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporatio...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"name": "Jerry Bruckheimer Films", "id": 130}, {"na...
2     [{"name": "Columbia Pictures", "id": 5}, {"name": "Danjaq", "id": 10761}, {"name": "B24", "id": ...
3     [{"name": "Legendary Pictures", "id": 923}, {"name": "Warner Bros.", "id": 6194}, {"name": "DC E...
4                                                             [{"name": "Walt Disney Pictures", "id": 2}]
...                                                                                                   ...
4798                                                             [{"name": "Columbia Pictures", "id": 5}]
4799                                                                                                   []
4800  [{"name": "Front Street Pictures", "id": 3958}, {"name": "Muse Entertainment Enterprises", "id":...
4801                                                                                                   []
4802       [{"name": "rusty bear entertainment", "id": 87986}, {"name": "lucky crow films", "id": 87987}]

                                                                                     production_countries  \
0     [{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "GB", "name": "United ...
1                                              [{"iso_3166_1": "US", "name": "United States of America"}]
2     [{"iso_3166_1": "GB", "name": "United Kingdom"}, {"iso_3166_1": "US", "name": "United States of ...
3                                              [{"iso_3166_1": "US", "name": "United States of America"}]
4                                              [{"iso_3166_1": "US", "name": "United States of America"}]
...                                                                                                   ...
4798   [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso_3166_1": "US", "name": "United States of America"}]
4799                                                                                                   []
4800                                           [{"iso_3166_1": "US", "name": "United States of America"}]
4801    [{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "CN", "name": "China"}]
4802                                           [{"iso_3166_1": "US", "name": "United States of America"}]

     release_date     revenue  runtime  \
0      2009-12-10  2787965087    162.0
1      2007-05-19   961000000    169.0
2      2015-10-26   880674609    148.0
3      2012-07-16  1084939099    165.0
4      2012-03-07   284139100    132.0
...           ...         ...      ...
4798   1992-09-04     2040920     81.0
4799   2011-12-26           0     85.0
4800   2013-10-13           0    120.0
4801   2012-05-03           0     98.0
4802   2005-08-05           0     90.0

                                                                                         spoken_languages  \
0                   [{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\u00f1ol"}]
1                                                                [{"iso_639_1": "en", "name": "English"}]
2     [{"iso_639_1": "fr", "name": "Fran\u00e7ais"}, {"iso_639_1": "en", "name": "English"}, {"iso_639...
3                                                                [{"iso_639_1": "en", "name": "English"}]
4                                                                [{"iso_639_1": "en", "name": "English"}]
...                                                                                                   ...
4798                                                        [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799                                                                                                   []
4800                                                             [{"iso_639_1": "en", "name": "English"}]
4801                                                             [{"iso_639_1": "en", "name": "English"}]
4802                                                             [{"iso_639_1": "en", "name": "English"}]

        status  \
0     Released
1     Released
2     Released
3     Released
4     Released
...        ...
4798  Released
4799  Released
4800  Released
4801  Released
4802  Released

                                                                                    tagline  \
0                                                               Enter the World of Pandora.
1                                            At the end of the world, the adventure begins.
2                                                                     A Plan No One Escapes
3                                                                           The Legend Ends
4                                                      Lost in our world, found in another.
...                                                                                     ...
4798                  He didn't come looking for trouble, but trouble came looking for him.
4799  A newlywed couple's honeymoon is upended by the arrivals of their respective sisters.
4800                                                                                    NaN
4801                                                               A New Yorker in Shanghai
4802                                                                                    NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 20 columns]>

* 4803개의 레코드와 20개의 피처로 구성
* 영화 제목, 개요, 인기도, 평점, 투표 수, 예산, 키워드 등 영화에 대한 다양한 메타 정보를 가지고 있음.
* 이 중 콘텐츠 기반 필터링 추천 분석에 사용할 주요 칼럼만 추출해 새롭게 DataFrame으로 생성.

In [21]:
movies_df = movies[["id", "title", "genres", "vote_average", "vote_count", "popularity",
                    "keywords", "overview"]]

* tmdb_5000_movies.csv 파일을 DataFrame에서 처리할 때, "genres", "keywords" 등과 같은 칼럼은 파이썬 리스트 내부에 여러 개의 딕셔너리가 있는 형태의 문자열로 표기되어 있음. 하지만 이 칼럼이 DataFrame으로 만들어질 때는 단순히 문자열 형태로 로딩되므로 이 칼럼을 가공하지 않고는 필요한 정보를 추출할 수가 없음.

In [22]:
pd.set_option("max_colwidth", 100)
movies_df[["genres", "keywords"]][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

* genres 칼럼은 여러 개의 개별 장르 데이터를 가지고 있고, 이 개별 장르의 명칭은 딕셔너리의 키인 "name"으로 추출할 수 있음. Keywords 역시 마찬가지 구조.
* genres 칼럼의 문자열을 분해해서 개별 장르를 파이썬 리스트 객체로 추출.

In [23]:
from ast import literal_eval
movies_df["genres"] = movies_df["genres"].apply(literal_eval)
movies_df["keywords"] = movies_df["keywords"].apply(literal_eval)

* genres 칼럼은 문자열이 아니라 실제 리스트 내부에 여러 장르 딕셔너리로 구성된 객체를 가짐.
* genres 칼럼에서 장르명만 리스트 객체로 추출.

In [24]:
movies_df["genres"] = movies_df["genres"].apply(lambda x: [y["name"] for y in x])
movies_df["keywords"] = movies_df["keywords"].apply(lambda x: [y["name"] for y in x])
movies_df[["genres", "keywords"]][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

### 장르 콘텐츠 유사도 측정
* genres 칼럼은 여러 개의 개별 장르가 리스트로 구성
* 장르별 유사도를 측정하는 방법 중 가장 간단한 방법은 genres를 문자열로 변경한 뒤 이를 CountVectorizer로 피처 벡터화한 행렬 데이터 값을 코사인 유사도로 비교하는 것.
* genres 칼럼을 기반으로 하는 콘텐츠 기반 필터링의 단계
 * 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환
 * genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도를 통해 비교. 이를 위해 데이터 세트의 레코드별로 타 레코드와 장르에서 코사인 유사도 값을 가지는 객체를 생성.
 * 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천.
* genres 칼럼을 문자열로 변환한 뒤 사이킷런의 CountVectorizer를 이용해 피처 벡터 행렬로 만듦.

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movies_df["genres_literal"] = movies_df["genres"].apply(lambda x: (" ").join(x))
count_vect = CountVectorizer(min_df = 0, ngram_range = (1, 2))
genre_mat = count_vect.fit_transform(movies_df["genres_literal"])
print(genre_mat.shape)

(4803, 276)

* CountVectorizer로 변환해 4803개의 레코드와 276개의 개별 단어 피처로 구성된 피처 벡터 행렬이 생성됨.
* 이렇게 생성된 피처 벡터 행렬에 사이킷런의 cosine_similarity()를 이용해 코사인 유사도를 계산.
* cosine_similarity(): 기준 행과 비교 행의 코사인 유사도를 행렬 형태로 반환하는 함수.
![cosine_similarity.jpeg]()

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

* genre_sim 객체는 movies_df와 genre_literal 칼럼을 피처 벡터화한 행렬(genre_mat) 데이터의 행(레코드)별 유사도 정보를 가지고 있으며, 결국은 movies_df DataFrame의 행별 장르 유사도 값을 가지고 있음.
* moveis_df를 장르 기준으로 콘텐츠 기반 필터링을 수행하려면 movies_df의 개별 레코드에 대해서 가장 장르 유사도가 높은 순으로 다른 레코드를 추출해야 하는데, 이를 위해 앞에서 생성한 genre_sim 객체를 이용
* genre_sim 객체의 기준 행별로 비교 대상이 되는 행의 유사도 값이 높은 순으로 정렬된 행렬의 위치 인덱스 값을 추출.
* 값이 높은 순으로 정렬된 비교 대상 행위 유사도 값이 아니라 비교 대상 행의 위치 인덱스임에 주의.

In [27]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

* 반환된 [[   0 3494  813 ... 3038 3037 2401]]이 의미하는 것은 0번 레코드의 경우 자신인 0번 레코드를 제외하면 3494번 레코드가 가장 유사도가 높고, 그다음이 813번 레코드이며, 가장 유사도가 낮은 레코드는 2401번 레코드라는 뜻.
* genre_sim_sorted_ind 객체는 각 레코드의 장르 코사인 유사도가 가장 높은 순으로 정렬된 타 레코드의 위치 인덱스 값을 가지고 있음. 이 위치 인덱스를 이용해 언제든지 특정 레코드와 코사인 유사도가 높은 다른 레코드를 추출할 수 있음.

### 장르 콘텐츠 필터링을 이용한 영화 추천
* find_sim_movie(): 인자로 기반 데이터인 movies_df DataFrame, 레코드별 장르 코사인 유사도 인덱스를 가지고 있는 genre_sim_sorted_ind, 고객이 선정한 추천 기준이 되는 영화 제목, 추천할 영화 건수를 입력하면 추천 영화 정보를 가지는 DataFrame을 반환

In [28]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
  # 인자로 입력된 movies_df DataFrame에서 "title" 칼럼이 입력된 title_name 값인 DataFrame 추출
  title_movie = df[df["title"] == title_name]

  # title_name을 가진 DataFrame의 index 객체를 ndarray로 반환하고
  # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
  title_index = title_movie.index.values
  similar_indexes = sorted_ind[title_index, :(top_n)]

  # 추출된 top_n index 출력. top_n index는 2차원 데이터임.
  # dataframe에서 index로 사용하기 위해서 1차원 array로 변경
  print(similar_indexes)
  similar_indexes = similar_indexes.reshape(-1)

  return df.iloc[similar_indexes]

In [29]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, "The Godfather", 10)
similar_movies[["title", "vote_average"]]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

* "대부 2편"이 가장 먼저 추천됨. 그 외에 1847번 인덱스의 "좋은 친구들"도 대부와 비슷한 유형으로, 대부를 재미있게 봤다면 이 두 가지 모두 추천해야 할 영화.
* 하지만 낯선 영화도 많음. "라이트 슬리퍼", "Mi America", "Kids"등 대부를 좋아하는 고객에게 섣불리 추천하기에는 이해하기 어려운 영화도 있음. 조금 더 개선이 필요.
* 좀 더 많은 후보군을 선정한 뒤에 영화의 평점에 따라 필터링해서 최종 추천하는 방식으로 변경.
* 영화의 평점 정보인 "vote_average"를 이용. vote_average는 0부터 10점 만점까지의 점수로 돼 있는데, 여러 관객이 평가한 평점을 평균한 것. 그런데 1명, 2명의 소수 관객이 특정 영화에 만점이나 매우 높은 평점을 부여해 왜곡된 데이터를 갖고 있음. 이를 확인하기 위해 sort_values()를 이용해 평점을 오름차순으로 movies_df를 정렬해서 10개만 출력.

In [30]:
movies_df[["title", "vote_average", "vote_count"]].sort_values("vote_average", ascending = False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

* "쇼생크 탈출"이나 "대부" 같은 명작보다 높은 순위에 "Still Upper Lips", "Me You and Five Bucks"와 같이 이름도 들어본 적 없는 영화가 더 높은 평점으로 있음. 이들은 모두 평가 횟수가 매우 작음.
* 이와 같이 왜곡된 평점 데이터를 회피할 수 있도록 평점에 평가 횟수를 반영할 수 있는 새로운 평가 방식이 필요.
* IMDB에서는 평가 횟수에 대한 가중치가 부여된 평점 방식을 사용.
* 공식: 가중 평점 = (v/(v+m)) * R + (m/(v+m)) * C
 * v: 개별 영화에 평점을 투표한 횟수. movies_df의 "vote_count" 값.
 * m: 평점을 부여하기 위한 최소 투표 횟수. 투표 횟수에 따른 가중치를 직접 조절하는 역할. m 값을 높이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여.
 * R: 개별 영화에 대한 평균 평점. "vote_average" 값에 해당.
 * C: 전체 영화에 대한 평균 평점. movies_df["vote_average"].mean()

In [31]:
C = movies_df["vote_average"].mean()
m = movies_df["vote_count"].quantile(0.6)
print("C: ", round(C, 3), "m: ", round(m, 3))

C:  6.092 m:  370.2

* 기존 평점을 새로운 가중 평점으로 변경하는 함수를 생성하고 이를 이용해 새로운 평점 정보인 "vote_weighted" 값을 생성.

In [39]:
percentile = 0.6
m = movies["vote_count"].quantile(percentile)
C = movies["vote_average"].mean()

def weighted_vote_average(recored):
  v = recored["vote_count"]
  R = recored["vote_average"]

  return ((v / (v + m)) * R) + ((m / (m + v)) * C)

movies_df["weighted_vote"] = movies.apply(weighted_vote_average, axis = 1)

* weighted_vote 평점이 높은 순으로 상위 10개의 영화를 추출

In [40]:
movies_df[["title", "vote_average", "weighted_vote", "vote_count"]].sort_values(
    "weighted_vote", ascending = False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

* TOP 10에 대한 개인별 성향이 조금씩 달라서 위 결과에 의이가 있을지는 몰라도 위 영화 모두 매우 뛰어난 영화라는 점에서 이견이 없음.
* 새롭게 정의된 평점 기준에 따라서 영화를 추천. 장르 유사성이 높은 영화를 top_n의 2배수만큼 후보군으로 선정한 뒤에 weighted_vote 칼럼 값이 높은 순으로 top_n만큼 추출하는 방식으로 find_sim_movie() 함수를 변경.

In [42]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
  title_moive = df[df["title"] == title_name]
  title_index = title_moive.index.values

  # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
  similar_indexes = sorted_ind[title_index, :(top_n * 2)]
  similar_indexes = similar_indexes.reshape(-1)
  # 기준 영화 인덱스는 제외
  similar_indexes = similar_indexes[similar_indexes != title_index]

  # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n만큼 추출
  return df.iloc[similar_indexes].sort_values("weighted_vote", ascending = False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, "The Godfather", 10)
similar_movies[["title", "vote_average", "weighted_vote"]]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

* 이전에 추천된 영화보다 훨씬 나은 영화가 추천됨.
* 하지만 장르만으로 영화가 전달하는 많은 요소와 분위기, 그리고 개인이 좋아하는 성향을 반영하기에는 부족할 수 있음.